// bower:scss
@import 'compass';
// endbower

@page {
  margin: 0;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
  font-size: 0.908em;
}

.ticket {
  padding: 0 1.5em 0 1.75em;
  clear: both;
  .text-section {
    width: 48%;
    padding: 1.5em 2% 1.5em 0;
    float: left;
    header {
      margin-top: 1em;
      p {
        margin: 0 1em 0 0;
        padding: 0 1em 0 0;
        span.spacer {
          display: inline-block;
          padding: 0 1em;
        }
      }
    }
    ul {
      @include no-bullets;
      margin: 1em 0;
      padding: 0;
    }
    img {
      width: 7em;
      float: right;
      margin: 0 2em;
      margin-bottom: -0.8em;
    }
    .subtext {
      margin-bottom: 1em;
    }
  }
  .form-section {
    width: 50%;
    margin-left: 50%;
    padding: 1.5em 0;
    .wrapper {
      border: 1px solid black;
      padding: 1em;
    }
    header { @include clearfix; }
    h2 {
      margin: 0;
      &.title {
        @include float-left;
      }
      &.price {
        @include float-right;
      }
    }
    .line {
      border-bottom: 1px solid black;
      display: block;
      height: 2.1em;
    }
    label {
      bottom: -0.8em;
      padding-right: 1em;
      position: relative;
      border-bottom: 8px solid white;
      display: inline-block;
      clear: left;
    }
    p { margin: 1em 0 0 0; }
    footer {
      .ticket-num { text-align: center; }
      .small-text {
        margin-top: 0.3em;
        text-align: center;
        line-height: 1.1;
      }
    }
  }   
}

.small-text {
  font-size: 0.8em;
  font-style: normal;
}

.micro-text {
  font-size: 0.6em;
  font-style: normal;
}

.ticket-number {
  font-size: 1em;
  font-weight: bold;
}

.last-page {
  page-break-after: always;
  padding-bottom: 0;
}
