<!doctype html>
<!--[if lt IE 7]>    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>     <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>     <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>friends_of_stanley_road raffle_tickets</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <div class="ticket-wrapper">
    </div>

    <script id="ticket-template" type="text/x-handlebars-template">
      {{#tickets}}
      <div class="ticket {{#if lastPage}}last-page{{/if}}">
          <div class="text-section">
            <div class="wrapper">
              <header class="small-text">
                <p>Raffle to be held on 23<sup>rd</sup> May 2014 <span class="spacer"></span> Ticket no: <span class="ticket-number">{{num}}</span></p>
              </header>
              <ul>
                <li>1<sup>st</sup> Prize – 4 West Midland Safari Park Tickets</li>
                <li>2<sup>nd</sup> Prize – Worcester Warriors Match Day Tickets</li>
                <li>3<sup>rd</sup> Prize – Meal for two at Carluccio's</li>
              </ul>
              <img src="/images/friends.svg" />
              <p class="subtext">And lots more...</p>
              <footer class="micro-text">
                <p>Registered under the Gambling Act 2005 with Worcester City Council No. WO/5750.
                Promoter: Samantha-Jane Hale, Stanley Road Primary School, Stanley Road, Worcester, WR5 1BD
                Registered Charity No: 1114420.</p>
              </footer>
            </div>
          </div>
          <div class="form-section">
            <div class="wrapper">
              <header>
                <h2 class="title">Enter to win!</h2>
                <h2 class="price">£1</h2>
              </header>
              <div class="line">
                <label>Name:</label>
              </div>
              <div class="line">
                <label>Address:</label>
              </div>
              <div class="line">
                <label>Phone:</label>
              </div>
              <footer>
                <p class="ticket-num">Ticket no: <span class="ticket-number">{{num}}</span></p>
                <p class="small-text">Hand in payment and completed ticket to school office.<br />Raffle held 23<sup>rd</sup> May, winners will be notified.</p>
              </footer>
            </div>
          </div>
        </div>
      {{/tickets}}
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/handlebars/handlebars.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
</body>
</html>
